{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StyleMate AI - Feedback</title>

    <link rel="stylesheet" href="{% static 'css/feedback.css' %}" />

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
</head>

<body>

    <!-- NAVBAR -->

    <header class="navbar">

        <div class="logo-section">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            <h2>StyleMate AI</h2>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'wardrobe' %}">Wardrobe</a></li>
                <li><a href="#">Styling</a></li>
                <li><a href="#">Try-On</a></li>
                <li><a class="active" href="#">Feedback</a></li>
                <li><a href="#">Professions</a></li>
            </ul>
        </nav>

        <div class="theme-icon">
            <i class="fa-regular fa-moon"></i>
        </div>

    </header>


    <!-- TITLE -->

    <section class="feedback-title">

        <h1>AI Styling Feedback</h1>

        <p>
            Upload a photo of your outfit and get professional styling critiques.
        </p>

    </section>


    <!-- MAIN -->

    <section class="feedback-wrapper">

        <!-- LEFT -->

        <div class="upload-box">

            <div class="upload-area" id="uploadArea">

                <i class="fa-solid fa-upload"></i>

                <h2>Drop your photo here</h2>

                <p>PNG, JPG up to 10MB</p>

                <input type="file" id="fileInput" hidden />

                <button id="selectBtn">Select Photo</button>

            </div>

            <button class="feedback-btn">
                <i class="fa-solid fa-sparkles"></i>
                Get AI Feedback
            </button>

        </div>


        <!-- RIGHT -->

        <div class="result-box" id="resultBox">

            <i class="fa-regular fa-image"></i>

            <h2>Awaiting Style</h2>

            <p>
                Upload a photo of your outfit to receive a detailed AI analysis.
            </p>

        </div>

    </section>


    <!-- FOOTER -->

    <footer class="footer">

        <i class="fa-solid fa-wand-magic-sparkles"></i>

        <h2>StyleMate AI</h2>

        <p>
            Your Personal AI Stylist – Dress Smart, Look Confident.
        </p>

        <small>
            © 2026 StyleMate AI. All rights reserved.
        </small>

    </footer>


    <script src="{% static 'js/feedback.js' %}"></script>

</body>
</html>